/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) { 
    .capa {
        display: none;
    }

    .topo {
        
    }

    .logo-media {
        margin: 0 auto;
    }


 }


/* // Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) { 
    .capa {
        display: none;
    }
 }


/* // Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) { 
    .capa {
        display: none;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1200px) { 
    
}